@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
	/*  BACKGROUND COLORS */

	--color-bg: #fff;
	--color-bg-hero: #1f2937;
	--color-bg-quote: #e5e7eb;
	--color-bg-cta: #3882f6; /* cta => call to action */
	--color-bg-button: #3882f6;

	/* ...::: [ FONT VARIABLES ] :::... */

	/* FONT COLORS */

	--color-font-main: #1f2937;
	--color-font-hero-main: #f9faf8;
	--color-font-hero-secondary: #e5e7eb;
	--color-font-logo: #f9faf8;
	--color-font-inf-header: #1f2937;
	--color-font-quote: #1f2937;

	/* FONT SIZES */

	--size-font-main: 1.8rem;
	--size-font-hero-main: 48px;
	--size-font-hero-secondary: 18px;
	--size-font-logo: 24px;
	--size-font-inf-header: 36px;
	--size-font-quote: 36px;

	/* FONT WEIGHTS */

	--weight-font-main: 400;
	--weight-font-hero-main: 900;
	--weight-font-hero-secondary: 400;
	--weight-font-logo: 700;
	--weight-font-inf-header: 900;
	--weight-font-quote: 300;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-size: var(--size-font-main);
	font-weight: var(--weight-font-main);
	font-family: "Roboto", sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	color: var(--color-font-main);
	line-height: 1.5;
	letter-spacing: 1px;
	background-color: var(--color-bg);
}

h1,
h2,
h3 {
	font-weight: var(--weight-font-hero-main);
}

h1 {
	font-size: var(--size-font-hero-main);
	color: var(--color-font-hero-main);
}

/* ...::: [ PAGE 1  -  PELIN] :::... */

/* place for your code */

/* ...::: [ PAGE 2  -  LEHI] :::... */

/* place for your code */

/* ...::: [ PAGE 3  -  YOSEF] :::... */

/* place for your code */

/* ...::: [ PAGE 4  -  PAWEL] :::... */

/* place for your code */
