@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
	/*  BACKGROUND COLORS */

	--color-bg: #fff;
	--color-bg-hero: #1f2937;
	--color-bg-quote: #e5e7eb;
	--color-bg-cta: #3882f6; /* cta => call to action */
	--color-bg-button: #3882f6;

	/* ...::: [ FONT VARIABLES ] :::... */

	/* FONT COLORS */

	--color-font-main: #1f2937;
	--color-font-hero-main: #f9faf8;
	--color-font-hero-secondary: #e5e7eb;
	--color-font-logo: #f9faf8;
	--color-font-inf-header: #1f2937;
	--color-font-quote: #1f2937;

	/* FONT SIZES */

	--size-font-main: 1.8rem;
	--size-font-hero-main: 48px;
	--size-font-hero-secondary: 18px;
	--size-font-logo: 24px;
	--size-font-inf-header: 36px;
	--size-font-quote: 36px;

	/* FONT WEIGHTS */

	--weight-font-main: 400;
	--weight-font-hero-main: 900;
	--weight-font-hero-secondary: 400;
	--weight-font-logo: 700;
	--weight-font-inf-header: 900;
	--weight-font-quote: 300;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-size: var(--size-font-main);
	font-weight: var(--weight-font-main);
	font-family: "Roboto", sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	color: var(--color-font-main);
	line-height: 1.5;
	letter-spacing: 1px;
	background-color: var(--color-bg);
}

h1,
h2,
h3 {
	font-weight: var(--weight-font-hero-main);
}

h1 {
	font-size: var(--size-font-hero-main);
	color: var(--color-font-hero-main);
}

h2,h3{
	padding-bottom: 10px;
}

/* ...::: [ FEATURES  -  PELIN] :::... */
section{
	margin-bottom: 100px;
	padding: 0 10%;
}
/*NAVBAR*/
  .navbar input{
	display: none;
  }
  .navbar {
	display: flex;
	align-items: center;
	background-color: var(--color-bg-hero);
	color: var(--color-font-hero-secondary);
	padding: 20px 15%;
	justify-content: space-between;
  }
  
  .logo {
	flex-grow: 1;
	font-size: var(--size-font-logo);
	font-weight: var(--weight-font-logo);
	cursor: pointer;
    color: var(--color-font-logo);
  }
  
  .nav-links {
	display: flex;
	align-items: center;
  }
  
  .nav-links a {
	color: var(--color-font-hero-secondary);
	text-decoration: none;
	margin: 0 15px;
  }
  
  .nav-links a:hover{
	color: var(--color-bg-button);
  }
  
  .hamburger {
	display: none;
	font-size: var(--size-font-hero-main);
	cursor: pointer;
  }

  /* Media query for mobile and tablet */
  @media screen and (max-width: 1024px){
	.nav-links {
	  display: none; 
	  flex-direction: column;
	  background-color: var(--color-bg-hero); 
	  position: absolute;
	  top: 65px;
	  left: 0;
	  width: 100%;
	  z-index: 1;
	}
  
	.nav-links a {
	  margin: 10px;
	}
  
	.hamburger {
	  display: block;
	}

	#nav-toggle:checked ~ .nav-links {
	  display: flex;
	}
  }

/*HERO*/
 .feat-hero {
    background-image: url("/main-assignment-02/images/bg1.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
	justify-content: center;
	padding-top: 10vh;
  }

  .feat-hero-content {
    text-align: center;
    color: var(--color-font-hero-main);
  }
 /*BUTTON*/

  .btn{
	display: inline-block;
	padding: 1rem 5rem;
	border-radius: 999px;
	margin-top: 20px;
	border: none;
	cursor: pointer;
	transition: 0.3s all ease-in;
	font-size: var(--size-font-main);
  }
  .btn-blue{
	background-color: var(--color-bg-button);
	color: var(--color-font-hero-secondary);
  }

  .btn:hover{
	filter: brightness(1.4);
	transform: scale(1.05);
  }

  /*CARD*/
  .card-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px 0;
  }

  .card {
    flex: 0 0 calc(30% - 20px); /* Each card takes 25% width with 20px gap on each side */
    border: 1px solid var(--color-bg-quote);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .card img {
    max-width: 100%;
	height: 300px;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .features h2{
	text-align: center;
	padding-bottom: 50px;
  }

  .intro{
	background-image: url("/main-assignment-02/images/bg2.jpg");
    background-size:cover;
    background-position:center;
    height: 50vh;
    display: flex;
	align-items: center;
  }

  .intro-content{
	color: var(--color-font-hero-main);
	width: 50%;
  }

  .information{
	display: flex;
	gap: 50px;
	text-align: justify;
  }
/*FAQ*/
 .faq-container{
	display: flex;
	justify-content: space-between;
	gap: 80px;
 }
 
 .faq-content{
	width: 100%;
 }

 .faq-item{
	padding-bottom: 15px;
 }

 .faq h2{
	padding-bottom: 50px;
	text-align: center;
 }

 .question{
	border-radius: 999px;
	padding: 20px;
	background-color: var(--color-bg-quote);
	transition: 0.3s all ease-in;
 }

 .question:hover{
	filter: brightness(0.9);
	transform: scale(1.03);
 }

 .answer{
	padding: 20px 0;
 }
 /*SCROLL TO TOP*/

 .faq-container button{
	position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 99;
 }
 /*FOOTER*/

.footer{
	background-color: var(--color-bg-hero);
	padding: 80px 0;
}

.footer-content{
	display: flex;
	flex-wrap: wrap;
	max-width: 1170px;
	margin: auto;
	justify-content: space-between;
}

.footer-item img{
	height: 100px;
	max-width: 100%;
}

.footer-item h4{
	color: var(--color-bg-button);
	font-size: var(--size-font-hero-secondary);
	text-transform: uppercase;
	text-decoration: underline;
	margin-bottom: 30px;
	position: relative;
}

.footer-item ul{
	list-style: none;
}

.footer-item ul li a{
	text-decoration: none;
	display: block;
	transition: all 0.3s ease;
	color: var(--color-font-hero-secondary);
}

.footer-item ul li a:hover{
	padding-left: 10px;
	color: var(--color-bg-button);
}

.footer-bottom{
	text-align: center;
	color: var(--color-font-hero-main);
	margin-top: 50px;
}

/*MEDIA QUERY FOR MOBILE*/
@media screen and (max-width: 767px) {
	.card{
		flex: 0 0 calc(100% - 20px);
	}
	.card-container{
		gap: 30px;
	}
	.intro-content p{
		display: none;
	}
	.information div:first-child{
		display: none;
	}
	.footer{
		padding:80px 30px;
	}
	.footer-content div:last-child, div:nth-child(3){
		display: none;
	}
}
/*MEDIA QUERY FOR TABLET*/
@media screen and (min-width: 768px) and (max-width: 1024px){
	.card{
		flex: 0 0 calc(50% - 20px);
	}
	.card-container div:last-child{
		display: none;
	}
	.footer{
		padding:80px 30px;
	}
}
/* ...::: [ PAGE 2  -  LEHI] :::... */

/* place for your code */

/* ...::: [ PAGE 3  -  YOSEF] :::... */

/* place for your code */

/* ...::: [ PAGE 4  -  PAWEL] :::... */

/* place for your code */
